body{
	background-image: url('./img/0b7e1e5ed102da62efd7f415f948194f.jpg');
	background-color:rgba(255,0,0,0.5);
	color:white;
	background-size: cover;
}
/*titel*/
.site_titel{
	margin-top:22%;
	text-align:center;	
}


/*subtitel*/
.site_subtitel{
	text-align:center;
	margin: 2% 0 0;
}







/*sitebuttons*/
.site_pagebutton{
	margin: 4% 0 0;
}
.site_pagebutton div{	
	padding: 0.2% 2%;
}
.site_pagebutton div a{
	border: 1px solid white;
    display: block;
    text-align: center;
	color:white;
}
.site_pagebutton div a:hover{
	border: 0;
	opacity:0.8;
}






/*social media*/
.site_social{
	margin:15% 0 0;
}
.site_social div{
	text-align:center;
	color:white;
}
.site_social div a i:hover{
	color:black;
}



/*bootstrap edit*/
.list-group-item{
	background-color:transparent  !important;
}

/*site_subtitel_werk*/
.site_subtitel_werk{
	margin:15% 0 0;
	
}





/*site_subtitel_school*/
.site_subtitel_school{
	margin:15% 0 0;
	
}





/*site_subtitel_contact*/
.site_subtitel_contact{
	margin:15% 0 0;
	
}
